.delivery__row {
    padding-top: 45px;
    flex-wrap: wrap;
    padding: -16px -14px;
}
.delivery__title {
    margin-top: 143px;
    font-size: 32px;
line-height: 48px;
text-align: center;
margin: auto;
margin-bottom: 21px;
}
.delivery__description {
    font-size: 20px;
line-height: 32px;
text-align: center;
color: var(--color-gray);
margin-bottom: 55px;
}
.delivery__item {
    display: flex;
    align-items: flex-start;
    padding: 16px 14px;
}
.delivery__icon {
    margin-right: 16px;
}
.delivery__suptitle, .delivery__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}
.delivery__suptitle {
font-size: 18px;
line-height: 24px;
color: var(--color-black)
}
.delivery__text {
    margin-top: 11px;
    width: 270px;
font-size: 16px;
line-height: 24px;
color: var(--color-gray)
}




